
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Ad</th>
            </tr>

            <tr>
                <td>1</td>
                <td>tuna</td>
            </tr>
        </table>
    </div>
</body>
</html>
